In [1]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:.5g}'.format

In [8]:
file = './benchmark500_delphes_events_b2tf_cutFlow.csv'

cutDF = pd.read_csv(file,skiprows=2,delimiter=';')
if len(cutDF) > 1:
    cutDF = cutDF[abs(cutDF['ctau']-9.0) < 0.5]
newRows = {}
for key in cutDF.columns:
    newRows[key] = [np.sqrt(float(cutDF[key].iloc[0])),
                     float(cutDF[key].iloc[0]/cutDF['# All'].iloc[0])]

df_the_dict = pd.DataFrame.from_dict(newRows)

cutDF2 = pd.concat([cutDF, df_the_dict], ignore_index=True)
cutDF2.drop(columns=['tau'],inplace=True)
cutDF2.rename({0 : 'entries', 1 : 'entriesError', 2 : 'cumulative'},axis=0,inplace=True)
# for col in cutDF2.columns:
#     cutDF2[col] = cutDF2[col]*40000.0/cutDF2['# All'].iloc[0]
cutDF2.T

                                    entries  entriesError  cumulative
# All                                 57685        240.18           1
L1: 40 GeV < MET(N-1) < 100 GeV       24767        157.38     0.42935
L1: 40 GeV < PT Jet1(N)                 290        17.029   0.0050273
L1: DPhi(Jet(N),MET(N-1)) < 1.0         210        14.491   0.0036405
HLT: Eta Jet < 2.5 PT Jet > 20 GeV      210        14.491   0.0036405
HLT: Jet EMF < 0.06                     149        12.207    0.002583
m1                                      244         15.62   0.0042299
m0                                      154         12.41   0.0026697
mS                                      500        22.361   0.0086678
m2                                      250        15.811   0.0043339
lambdauv                            2.2e+07        4690.4      381.38
chxx10                                  0.1       0.31623  1.7336e-06
ychi20                                  0.1       0.31623  1.7336e-06
ychi21                                  1.5        1.2247  2.6003e-05
sina                                    0.2       0.44721  3.4671e-06

In [9]:
file = './benchmark700_delphes_events_b2tf_cutFlow.csv'

cutDF = pd.read_csv(file,skiprows=2,delimiter=';')
if len(cutDF) > 1:
    cutDF = cutDF[abs(cutDF['ctau']-9.0) < 0.5]
newRows = {}
for key in cutDF.columns:
    newRows[key] = [np.sqrt(float(cutDF[key].iloc[0])),
                     float(cutDF[key].iloc[0]/cutDF['# All'].iloc[0])]

df_the_dict = pd.DataFrame.from_dict(newRows)

cutDF2 = pd.concat([cutDF, df_the_dict], ignore_index=True)
cutDF2.drop(columns=['tau'],inplace=True)
cutDF2.rename({0 : 'entries', 1 : 'entriesError', 2 : 'cumulative'},axis=0,inplace=True)
# for col in cutDF2.columns:
    # cutDF2[col] = cutDF2[col]*40000.0/cutDF2['# All'].iloc[0]
cutDF2.T

                                    entries  entriesError  cumulative
# All                                 54985        234.49           1
L1: 40 GeV < MET(N-1) < 100 GeV       21326        146.03     0.38785
L1: 40 GeV < PT Jet1(N)                  14        3.7417  0.00025461
L1: DPhi(Jet(N),MET(N-1)) < 1.0           4             2  7.2747e-05
HLT: Eta Jet < 2.5 PT Jet > 20 GeV        4             2  7.2747e-05
HLT: Jet EMF < 0.06                       3        1.7321   5.456e-05
m1                                      244         15.62   0.0044376
m0                                      154         12.41   0.0028008
mS                                      700        26.458    0.012731
m2                                      250        15.811   0.0045467
lambdauv                            2.2e+07        4690.4      400.11
chxx10                                  0.1       0.31623  1.8187e-06
ychi20                                  0.1       0.31623  1.8187e-06
ychi21                                  1.5        1.2247   2.728e-05
sina                                    0.2       0.44721  3.6374e-06